.custom-button {
    --border-radius: 2px;
    height: 35px;
}

.fb {
    --background: var(--ion-color-facebook);
}

.fb:hover {
    --background: var(--ion-color-facebook-hover);
    --color: #ffffff;
}

.google {
    --background: var(--ion-color-google);
}

.google:hover {
    --background: var(--ion-color-google-hover);
    --color: #ffffff;
}

.signup {
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
    color: #ffffff;
}

.signup:hover {
    background: rgba(7, 17, 71, 0.1);
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.signup-item {
    width: 100%;
    height: 30px;
    padding: 5px 5px 0px 5px;
    text-align: center;
}

.custom-content {
    // --background: linear-gradient(255deg, #0057e7, #6195e9);
    --background: radial-gradient(circle at top 20% right 50%, #8dade2, #195ad3);
}

.custom-item-input {
    --background: rgba(7, 17, 71, 0.2);
    --border-radius: 5px;
    margin: 5px;
}

.custom-input {
    --background: rgba(5, 23, 51, 0);
    --color: #ffffff;
    font-size: 14px;
}