<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Тээврийн хуваарь
    </ion-title>
    <ion-buttons class="user-btn" slot="end" (click)="openPopover($event)">
        <img class="user-icon" *ngIf="avatarImage != null" [src]="avatarImage">
        <img class="user-icon" *ngIf="(avatarImage == null)" color="light" src="../../../assets/other/user-circle-solid.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">
  <ion-list class="list">

    <!-- <ion-item-divider class="custom-divider">
      <ion-label>Хэзээ</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-datetime class="custom-datetime" display-format="YYYY-MM-DD" picker-format="YYYY MMMM DD"
        [(ngModel)]="startDate" [min]="minDate" [max]="maxDate"></ion-datetime>
    </ion-item> -->

    <ion-item-divider class="custom-divider">
      <ion-label>Хаанаас</ion-label>
    </ion-item-divider>

    <div class="combo-item">
      <ion-select okText="Сонгох" class="custom-select" cancelText="Болих" [(ngModel)]="model.fromAimag"
        placeholder="Аймаг сонгох" (ionChange)="changeFromAimag($event)">
        <div *ngFor="let item of aimagData; let i = index;">
          <ion-select-option [value]="i">{{item.name}}</ion-select-option>
        </div>
      </ion-select>
    </div>
    <div class="combo-item" *ngIf="model.fromAimag != null && model.fromAimag != undefined">
      <ion-select okText="Сонгох" class="custom-select stop" cancelText="Болих" [(ngModel)]="model.fromStop"
        placeholder="Буудал сонгох">
        <div *ngFor="let item of aimagData[model.fromAimag].data; let i = index;">
          <ion-select-option [value]="i">{{item.ss_name}}</ion-select-option>
        </div>
      </ion-select>
    </div>

    <ion-item-divider class="custom-divider">
      <ion-label>Хаашаа</ion-label>
    </ion-item-divider>
    <div class="combo-item">
      <ion-select okText="Сонгох" class="custom-select" cancelText="Болих" [(ngModel)]="model.toAimag"
        placeholder="Аймаг сонгох" (change)="changeToAimag($event)">
        <div *ngFor="let item of aimagData; let i = index;">
          <ion-select-option [value]="i">{{item.name}}</ion-select-option>
        </div>
      </ion-select>
    </div>
    <div class="combo-item" *ngIf="model.toAimag != null && model.toAimag != undefined">
      <ion-select okText="Сонгох" class="custom-select  stop" cancelText="Болих" [(ngModel)]="model.toStop"
        placeholder="Буудал сонгох">
        <div *ngFor="let item of aimagData[model.toAimag].data; let i = index;">
          <ion-select-option [value]="i">{{item.ss_name}}</ion-select-option>
        </div>
      </ion-select>
    </div>
    <ion-item-divider class="custom-divider">
      <ion-label>Цагийн хуваарь</ion-label>
    </ion-item-divider>
    <ion-item-sliding>
      <ion-item>
        <div slot="start" class="start-side">
          <ion-label class="start-time">09:00</ion-label>
        </div>
        <div class="body-side">
          <ion-label>Улаанбаатар - Ар.Жаргалант</ion-label>
          <ion-label class="sub-body">Том автобус</ion-label>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <p>{{dat}}</p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" fill="clear" [routerDirection]="'forward'" [routerLink]="'/seats-select'">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
      <ion-label>Үргэлжлүүлэх</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>