@font-face {
    font-family: 'MnHeide';
    font-style: normal;
    font-weight: normal;
    src: url('./MnHeide.ttf');
}

@font-face {
    font-family: 'MogulFuturaCondensed';
    font-style: normal;
    font-weight: normal;
    src: url('./MogulFuturaCondensed.ttf');
}

@font-face {
    font-family: 'MogulBaltica';
    font-style: normal;
    font-weight: normal;
    src: url('./MogulBaltica.ttf');
}

@font-face {
    font-family: 'MogulBaltica';
    font-style: normal;
    font-weight: bold;
    src: url('./MogulBalticaBold.ttf');
}

@font-face {
    font-family: 'MogulBaltica';
    font-style: italic;
    font-weight: normal;
    src: url('./MogulBalticaItalic.ttf');
}

@font-face {
    font-family: 'MogulBaltica';
    font-style: italic;
    font-weight: bold;
    src: url('./MogulBalticaBoldItalic.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('./poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('./poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('./poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('./poppins/Poppins-SemiBold.ttf'); 
  }

  .bg-img {
    height: 90vh;
    background-image: url("./../login_bg.png");
    background-size: cover;
    background-position: center;
  }