<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Цаг агаар
    </ion-title>
    <ion-buttons class="user-btn" slot="end" (click)="openPopover($event)">
        <img class="user-icon" *ngIf="avatarImage != null" [src]="avatarImage">
        <img class="user-icon" *ngIf="(avatarImage == null)" color="light" src="../../../assets/other/user-circle-solid.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">
  <div class="full-100">

    <div class="wrap-slide">

      <ion-grid class="full-100">
        <ion-row class="full-100">

          <ion-col align-self-center style="height: 100%;">
            <ion-list style="background: var(--ion-color-divider); margin-bottom: 5px;">
              <div class="combo-item">
                <ion-select okText="Сонгох" class="custom-select light-select" cancelText="Болих" [(ngModel)]="selectedCity"
                  placeholder="Хот сонгох" (ionChange)="selectItem()">
                  <div *ngFor="let city of cities; let i = index;">
                    <ion-select-option [value]="city.name">{{city.mn_name}}
                    </ion-select-option>
                  </div>
                </ion-select>
              </div>
            </ion-list>
            <ion-slides *ngIf="weather && forecastPreData" #mySlider [options]="slidesOpts">
              <ion-slide *ngFor="let forecastday of forecastPreData;">
                <ion-grid style="width:100%; height: 100%; background: var(--ion-color-secondary-contrast);">

                  <ion-row class="normal-info">
                    <p class="date-text">{{forecastday.dateFull}}</p>
                  </ion-row>

                  <ion-row class="condition-info">
                    <ion-grid class="height-100 margin-center">
                      <ion-row align-items-center class="height-100 mp-0">
                        <div style="width: 100%;">
                          <img src="{{'http://openweathermap.org/img/w/'+ forecastday.weather[0].icon +'.png'}}"
                            class="icon-con">
                          <p class="con-info-text">{{forecastday.weather[0].main}}</p>
                        </div>
                      </ion-row>
                    </ion-grid>
                  </ion-row>

                  <ion-row class="temp-info">
                    <p class="temp-info-text">{{forecastday.temp}}°</p>
                  </ion-row>

                  <ion-row class="sup-info">
                    <ion-grid class="height-100 margin-center">
                      <ion-row align-items-center class="height-100 mp-0">
                        <div style="width: 100%;">
                          <img src="../../../assets/other/wind1.svg" class="icon-sup">
                          <p class="sup-info-text">{{forecastday.windSpeed}} m/s</p>
                        </div>
                      </ion-row>
                    </ion-grid>
                    <ion-grid class="height-100 margin-center">
                      <ion-row align-items-center class="height-100 mp-0">
                        <div style="width: 100%;">
                          <img src="../../../assets/other/drops.svg" class="icon-sup">
                          <p class="sup-info-text">{{forecastday.humidity}} %</p>
                          </div>
                      </ion-row>
                    </ion-grid>
                  </ion-row>

                  <ion-row class="limit-info">
                    <ion-grid class="full-100">
                      <ion-row align-items-center class="full-100 mp-0">
                        <div class="limit-layer">
                          <p class="limit-info-text-min">{{forecastday.temp_min}}°</p>
                          <p class="limit-info-text-min" style="margin-top: -10px;">MIN</p>
                        </div>
                        <input class="limit-pointer margin-center" disabled="true" type="range"
                          min="{{forecastday.temp_min}}" max="{{forecastday.temp_max}}" value="{{forecastday.temp}}"
                          step="1" />
                        <div class="limit-layer">
                          <p class="limit-info-text-max">{{forecastday.temp_max}}°</p>
                          <p class="limit-info-text-max" style="margin-top: -10px;">MAX</p>
                        </div>
                      </ion-row>
                    </ion-grid>
                  </ion-row>

                </ion-grid>

              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div style="height: 160px;">

      <ion-grid *ngIf="weather && forecastPreData" class="full-100" style="margin: 5px; width:auto;">
        <ion-row align-items-center class="full-100" style="width:auto;">
          <ion-col align-self-center class="day-item full-100" *ngFor="let forecastday of forecastPreData; index as i"
            (click)="changeDay(i)">
            <ion-grid class="full-100">
              <ion-row align-items-center class="full-100">
                <ion-col align-self-center>
                  <span class="day-week">{{forecastday.date}}</span><br />
                  <img class="day-icon"
                    src="{{'http://openweathermap.org/img/w/'+ forecastday.weather[0].icon +'.png'}}"
                    alt="{{forecastday.weather.main}}"><br />
                  <span class="day-week-temp">{{(i == 0) ? weather.main.temp : forecastday.temp}}°</span><br />
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>

<!-- [ngStyle]="{'border-radius': (i == 0) ? '5px 0 0 5px' : (i == forecastPreData.length - 1) ? '0 5px 5px 0': ' '}" -->