<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" *ngIf="!isNew">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        {{isNew ? 'Хувийн мэдээлэл бүртгэх' : 'Хувийн мэдээлэл'}}
      </ion-title>
      <ion-buttons slot="end" *ngIf="isNew">
        <ion-button (click)="logout()">
          <fa-icon class="icon-normal" icon="sign-out-alt" color="light"></fa-icon>
          <ion-label class="btn-header">Гарах</ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons class="user-btn" slot="end" (click)="openPopover($event)" *ngIf="!isNew">
          <img class="user-icon" *ngIf="avatarImage != null" [src]="avatarImage">
          <img class="user-icon" *ngIf="(avatarImage == null)" color="light" src="../../../assets/other/user-circle-solid.svg">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen>
  <ion-grid class="height-100 mp-0">
    <ion-row class="height-100 bg-img">
      <ion-col>
        <div class="login-wrap login-wrap-limiter">
          <div class="login-form">
            <span class="login-form-icon">
              <img class="user-image" *ngIf="avatarImage != null" [src]="avatarImage">
              <img class="user-image" *ngIf="(avatarImage == null)" src="../../../assets/other/user-circle-solid.svg">
            </span>
            <div class="pic-edit-control" *ngIf="editable">
              <div class="edit-layer">
                <ion-buttons class="icon-btn" slot="end" (click)="takePhoto()">
                  <fa-icon class="icon-normal" icon="camera" color="ligth"></fa-icon>
                </ion-buttons>
                <ion-buttons class="icon-btn" slot="end" (click)="selectPhoto()">
                  <fa-icon class="icon-normal" icon="upload" color="ligth"></fa-icon>
                </ion-buttons>
              </div>
            </div>
            <div class="login-input-wrap">
              <ion-list *ngIf="profile">
                <ion-item lines="full">
                  <fa-icon icon="address-card" slot="start"></fa-icon>
                  <ion-input placeholder="Овог" [(ngModel)]="profile.firstName" [readonly]="!editable" name="fname" (ionChange)="changeFN()"></ion-input>
                </ion-item>
                <ion-item lines="full">
                  <fa-icon icon="portrait" slot="start"></fa-icon>
                  <ion-input placeholder="Нэр" [(ngModel)]="profile.lastName" [readonly]="!editable" name="lname" (ionChange)="changeLN()"></ion-input>
                </ion-item>
                <ion-item lines="full">
                  <fa-icon icon="fingerprint" slot="start"></fa-icon>
                  <ion-input placeholder="Регистерын дугаар" name="register" [readonly]="!editable" [(ngModel)]="profile.registerNumber"
                    (ionChange)="changeRegN()">
                  </ion-input>
                </ion-item>
                <ion-item lines="full">
                  <fa-icon icon="envelope" slot="start"></fa-icon>
                  <ion-input placeholder="Имэйл хаяг" [readonly]="true" name="email" [(ngModel)]="profile.email"></ion-input>
                </ion-item>
                <ion-item lines="full">
                  <fa-icon icon="sim-card" slot="start"></fa-icon>
                  <ion-input type="number" placeholder="Утасны дугаар" [readonly]="!editable" name="phone" [(ngModel)]="profile.phoneNumber"></ion-input>
                </ion-item>
              </ion-list>
              <div class="padding-wrap-tb">
                <button class="custom-button" type="button" (click)="saveProfileData()">{{editable ? 'Хадгалах' : 'Засварлах'}}</button>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
