.custom-select {
    text-align: left;
}

.list {
    width:100%;
}

.padding-list {
    padding: 0 10px;
}

.amount-text {
    float: right;
    margin-right: 20px;
    font-weight: bold;
}

.warning-info {
    font-size: 12px;
    text-align: left;
    padding-right: 15px;
    padding-left: 20px;
}

.warning-info-sub {
    padding-left: 10px;
    text-align: justify;
}

.custom-list-header-ios {
    font-size: 13px !important;
}

.custom-grid {
    width: 100%;
    padding: 0;
}