<ion-header>
  <ion-toolbar>
    <ion-title>Захиалга хийх</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider class="custom-divider">
      <ion-label>Захиалагчийн мэдээлэл</ion-label>
    </ion-item-divider>
    <div class="padding-list">
      <ion-item lines="full">
        <fa-icon icon="address-card" slot="start"></fa-icon>
        <ion-input placeholder="Овог.Нэр" [(ngModel)]="subscriber.name"></ion-input>
      </ion-item>
      <ion-item lines="full">
          <fa-icon icon="fingerprint" slot="start"></fa-icon>
        <ion-input placeholder="Регистерийн дугаар" [(ngModel)]="subscriber.register"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <fa-icon icon="sim-card" slot="start"></fa-icon>
        <ion-input placeholder="Утасны дугаар" [(ngModel)]="subscriber.phoneNumber"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <fa-icon icon="envelope" slot="start"></fa-icon>
        <ion-input placeholder="Имэйл хаяг" [(ngModel)]="subscriber.email"></ion-input>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" [routerDirection]="'backward'"
      [routerLink]="'/passenger-info'">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      <ion-label>Буцах</ion-label>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="goToNextPage()">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
      <ion-label>Үргэлжлүүлэх</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>