<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Захиалга хийх
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <fa-icon class="icon-normal" icon="times-circle" color="light"></fa-icon>
        <ion-label class="btn-header">Цуцлах</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">
  <ion-list>
    <ion-item-divider class="custom-divider">
      <ion-label>Захиалагчийн мэдээлэл</ion-label>
    </ion-item-divider>
    <div class="padding-list">
      <ion-item lines="full">
        <fa-icon icon="address-card" slot="start"></fa-icon>
        <ion-input placeholder="Овог.Нэр" [(ngModel)]="subscriber.name" (change)="changeName()"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <fa-icon icon="fingerprint" slot="start"></fa-icon>
        <ion-input placeholder="Регистерийн дугаар" [(ngModel)]="subscriber.register" (change)="changeRegister()">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <fa-icon icon="sim-card" slot="start"></fa-icon>
        <ion-input placeholder="Утасны дугаар" [(ngModel)]="subscriber.phoneNumber" (change)="changePhone()">
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <fa-icon icon="envelope" slot="start"></fa-icon>
        <ion-input placeholder="Имэйл хаяг" [(ngModel)]="subscriber.email"></ion-input>
      </ion-item>
    </div>
  </ion-list>
  <ion-grid class="error error-msg" *ngIf="error">
    <ion-row align-items-center>
      <ion-col size="10" style="text-align:center;">
        <span>{{error}}</span>
      </ion-col>
      <ion-col size="2">
        <i class="ico-times close-icon" (click)="closeErrorMsg()"></i>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" [routerDirection]="'backward'" [routerLink]="'/passenger-info'">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      <ion-label>Буцах</ion-label>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="goToNextPage()" [disabled]="!nextAgree">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
      <ion-label>Үргэлжлүүлэх</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>