<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding class="custom-content">
  <div style="height: 180px; width: 100%; text-align: center; padding-top: 50px;">
    <img src=" ../../assets/icon/transport_logo.png" alt="transport-logo" height="120px" width="120px">
  </div>
  <!-- Email Input -->
  <ion-item lines="full" class="custom-item-input" mode="ios">
    <ion-input class="custom-input" placeholder="И-мэйл" pattern="email" size="email" type="email" mode="ios"></ion-input>
  </ion-item>

  <!-- Password Input -->
  <ion-item lines="full" class="custom-item-input" mode="ios">
    <ion-input class="custom-input" placeholder="Нууц үг" pattern="password" size="password" type="password" mode="ios"></ion-input>
  </ion-item>
  <ion-button class="custom-button" (click)="logInLoading()" [routerDirection]="'forward'" [routerLink]="'/home'"
    expand="block" fill="solid" color="success" mode="ios">Нэвтрэх</ion-button>
  <div class="signup-item">
    <a class="link-btn" mode="ios">Нууц үг мартсан</a>
    <a (click)="goToSignUp()" class="link-btn">Бүртгүүлэх</a>
  </div>
  <ion-button class="custom-button fb" expand="block" fill="solid" mode="ios">Facebook
    хаягаар нэвтрэх</ion-button>
  <ion-button class="custom-button google" expand="block" fill="solid" mode="ios">Google
    хаягаар нэвтрэх</ion-button>

</ion-content>