<div class="bus" [ngStyle]="{'height': height + 'px'}">
  <div class="seat-row driver">
    <bus-seat-checkbox [text]="'Ж'" status="normal" readonly="true"></bus-seat-checkbox>
  </div>
  <div *ngFor="let rowSeat of displaySeats; let i = index;">
    <div class="{{(i == 0) ? 'seat-row  start-row' : 'seat-row'}}" >
      <div class="seat-left">
        <bus-seat-checkbox [text]="rowSeat[0].seat_no" [checked]="rowSeat[0].checked" [disabled]="rowSeat[0].disabled" (toggle)="toggleChanged($event)" status="{{(i == 0) ? 'special' : 'normal'}}"></bus-seat-checkbox>
        <bus-seat-checkbox [text]="rowSeat[1].seat_no" [checked]="rowSeat[1].checked" [disabled]="rowSeat[1].disabled" (toggle)="toggleChanged($event)" status="{{(i == 0) ? 'special' : 'normal'}}"></bus-seat-checkbox>
      </div>
      <div class="seat-right">
        <bus-seat-checkbox [text]="rowSeat[2].seat_no" [checked]="rowSeat[2].checked" [disabled]="rowSeat[2].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
        <bus-seat-checkbox [text]="rowSeat[3].seat_no" [checked]="rowSeat[3].checked" [disabled]="rowSeat[3].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      </div>
    </div>
  </div>
  <div class="seat-row end-row">
    <bus-seat-checkbox [text]="oneSeat.seat_no" [checked]="oneSeat.checked" [disabled]="oneSeat.disabled" status="normal" (toggle)="toggleChanged($event)" *ngFor="let oneSeat of endRow"></bus-seat-checkbox>
  </div>
  <!-- <div class="seat-row  start-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[1].seat_no" [checked]="seatData[1].checked" [disabled]="seatData[1].disabled" (toggle)="toggleChanged($event)" status="special"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[2].seat_no" [checked]="seatData[2].checked" [disabled]="seatData[2].disabled" (toggle)="toggleChanged($event)" status="special"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[3].seat_no" [checked]="seatData[3].checked" [disabled]="seatData[3].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[4].seat_no" [checked]="seatData[4].checked" [disabled]="seatData[4].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[5].seat_no" [checked]="seatData[5].checked" [disabled]="seatData[5].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[6].seat_no" [checked]="seatData[6].checked" [disabled]="seatData[6].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[7].seat_no" [checked]="seatData[7].checked" [disabled]="seatData[7].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[8].seat_no" [checked]="seatData[8].checked" [disabled]="seatData[8].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[9].seat_no" [checked]="seatData[9].checked" [disabled]="seatData[9].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[10].seat_no" [checked]="seatData[10].checked" [disabled]="seatData[10].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[11].seat_no" [checked]="seatData[11].checked" [disabled]="seatData[11].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[12].seat_no" [checked]="seatData[12].checked" [disabled]="seatData[12].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[13].seat_no" [checked]="seatData[13].checked" [disabled]="seatData[13].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[14].seat_no" [checked]="seatData[14].checked" [disabled]="seatData[14].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[15].seat_no" [checked]="seatData[15].checked" [disabled]="seatData[15].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[16].seat_no" [checked]="seatData[16].checked" [disabled]="seatData[16].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[17].seat_no" [checked]="seatData[17].checked" [disabled]="seatData[17].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[18].seat_no" [checked]="seatData[18].checked" [disabled]="seatData[18].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[19].seat_no" [checked]="seatData[19].checked" [disabled]="seatData[19].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[20].seat_no" [checked]="seatData[20].checked" [disabled]="seatData[20].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[21].seat_no" [checked]="seatData[21].checked" [disabled]="seatData[21].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[22].seat_no" [checked]="seatData[22].checked" [disabled]="seatData[22].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[23].seat_no" [checked]="seatData[23].checked" [disabled]="seatData[23].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[24].seat_no" [checked]="seatData[24].checked" [disabled]="seatData[24].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[25].seat_no" [checked]="seatData[25].checked" [disabled]="seatData[25].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[26].seat_no" [checked]="seatData[26].checked" [disabled]="seatData[26].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[27].seat_no" [checked]="seatData[27].checked" [disabled]="seatData[27].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[28].seat_no" [checked]="seatData[28].checked" [disabled]="seatData[28].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[29].seat_no" [checked]="seatData[29].checked" [disabled]="seatData[29].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[30].seat_no" [checked]="seatData[30].checked" [disabled]="seatData[30].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[31].seat_no" [checked]="seatData[31].checked" [disabled]="seatData[31].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[32].seat_no" [checked]="seatData[32].checked" [disabled]="seatData[32].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[33].seat_no" [checked]="seatData[33].checked" [disabled]="seatData[33].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[34].seat_no" [checked]="seatData[34].checked" [disabled]="seatData[34].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[35].seat_no" [checked]="seatData[35].checked" [disabled]="seatData[35].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[36].seat_no" [checked]="seatData[36].checked" [disabled]="seatData[36].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[37].seat_no" [checked]="seatData[37].checked" [disabled]="seatData[37].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[38].seat_no" [checked]="seatData[38].checked" [disabled]="seatData[38].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[39].seat_no" [checked]="seatData[39].checked" [disabled]="seatData[39].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[40].seat_no" [checked]="seatData[40].checked" [disabled]="seatData[40].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row end-row">
    <bus-seat-checkbox [text]="seatData[41].seat_no" [checked]="seatData[41].checked" [disabled]="seatData[41].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    <bus-seat-checkbox [text]="seatData[42].seat_no" [checked]="seatData[42].checked" [disabled]="seatData[42].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    <bus-seat-checkbox [text]="seatData[43].seat_no" [checked]="seatData[43].checked" [disabled]="seatData[43].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    <bus-seat-checkbox [text]="seatData[44].seat_no" [checked]="seatData[44].checked" [disabled]="seatData[44].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    <bus-seat-checkbox [text]="seatData[45].seat_no" [checked]="seatData[45].checked" [disabled]="seatData[45].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
  </div>
</div>

<div class="bus" *ngIf="busType == 2" style="height: 202px">
  <div class="seat-row driver">
    <bus-seat-checkbox [text]="'Ж'" status="normal" (toggle)="toggleChanged($event)" readonly="true"></bus-seat-checkbox>
  </div>
  <div class="seat-row  start-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[1].seat_no" [checked]="seatData[1].checked" [disabled]="seatData[1].disabled" status="special"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[2].seat_no" [checked]="seatData[2].checked" [disabled]="seatData[2].disabled" status="special"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[3].seat_no" [checked]="seatData[3].checked" [disabled]="seatData[3].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[4].seat_no" [checked]="seatData[4].checked" [disabled]="seatData[4].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[5].seat_no" [checked]="seatData[5].checked" [disabled]="seatData[5].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[6].seat_no" [checked]="seatData[6].checked" [disabled]="seatData[6].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[7].seat_no" [checked]="seatData[7].checked" [disabled]="seatData[7].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[8].seat_no" [checked]="seatData[8].checked" [disabled]="seatData[8].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[9].seat_no" [checked]="seatData[9].checked" [disabled]="seatData[9].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[10].seat_no" [checked]="seatData[10].checked" [disabled]="seatData[10].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[11].seat_no" [checked]="seatData[11].checked" [disabled]="seatData[11].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[12].seat_no" [checked]="seatData[12].checked" [disabled]="seatData[12].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[13].seat_no" [checked]="seatData[13].checked" [disabled]="seatData[13].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[14].seat_no" [checked]="seatData[14].checked" [disabled]="seatData[14].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[15].seat_no" [checked]="seatData[15].checked" [disabled]="seatData[15].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[16].seat_no" [checked]="seatData[16].checked" [disabled]="seatData[16].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row">
    <div class="seat-left">
      <bus-seat-checkbox [text]="seatData[17].seat_no" [checked]="seatData[17].checked" [disabled]="seatData[17].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[18].seat_no" [checked]="seatData[18].checked" [disabled]="seatData[18].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
    <div class="seat-right">
      <bus-seat-checkbox [text]="seatData[19].seat_no" [checked]="seatData[19].checked" [disabled]="seatData[19].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
      <bus-seat-checkbox [text]="seatData[20].seat_no" [checked]="seatData[20].checked" [disabled]="seatData[20].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    </div>
  </div>
  <div class="seat-row end-row">
    <bus-seat-checkbox [text]="seatData[21].seat_no" [checked]="seatData[21].checked" [disabled]="seatData[21].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    <bus-seat-checkbox [text]="seatData[22].seat_no" [checked]="seatData[22].checked" [disabled]="seatData[22].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    <bus-seat-checkbox [text]="seatData[23].seat_no" [checked]="seatData[23].checked" [disabled]="seatData[23].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    <bus-seat-checkbox [text]="seatData[24].seat_no" [checked]="seatData[24].checked" [disabled]="seatData[24].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
    <bus-seat-checkbox [text]="seatData[25].seat_no" [checked]="seatData[25].checked" [disabled]="seatData[25].disabled" status="normal" (toggle)="toggleChanged($event)"></bus-seat-checkbox>
  </div> -->
</div>