<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Захиалга хийх
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <fa-icon class="icon-normal" icon="times-circle" color="light"></fa-icon>
        <ion-label class="btn-header">Цуцлах</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="show">
  <ion-list>
    <ion-item-divider class="custom-divider">
      <ion-label>Мэдээлэл</ion-label>
    </ion-item-divider>
    <div>
      <ion-row>
        <ion-label class="text-info">Чиглэл:<b>{{' ' + passData.toStop.direction_name ? passData.toStop.direction_name : ''}}</b></ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="text-info">ААН нэр:<b>{{' ' + passData.dispatcher.company_name ? passData.dispatcher.company_name : ''}}</b></ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="text-info">Марк загвар:<b>{{' ' + passData.dispatcher.model_name ? passData.dispatcher.model_name : ''}}</b></ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="text-info">Улсын дугаар:<b>{{' ' + passData.dispatcher.car_number ? passData.dispatcher.car_number : ''}}</b></ion-label>
      </ion-row>
    </div>
    <ion-item-divider class="custom-divider">
      <ion-label>Үнэ</ion-label>
    </ion-item-divider>
    <div>
      <ion-row>
        <ion-label class="text-info">Том хүн:<b>{{' ' + passData.toStop.big_price ? passData.toStop.big_price + '₮ /Амь даатгал: ' + (passData.toStop.big_insurance ? passData.toStop.big_insurance : '0') + '₮/' : '0₮'}}</b></ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="text-info">Хүүхэд /7-12нас/:<b>{{' ' + passData.toStop.big_childprice ? passData.toStop.big_childprice  + '₮ /Амь даатгал: ' + (passData.toStop.big_childinsurance ? passData.toStop.big_childinsurance : '0') + '₮/' : '0₮'}}</b></ion-label>
      </ion-row>
    </div>
    <ion-item-divider class="custom-divider">
      <ion-label>Суудал сонгох</ion-label>
    </ion-item-divider>
  </ion-list>
  <bus [seats]="emptySeats" (valueChange)='changeBusSeat($event)' busType="{{passData.dispatcher.car_type_id ? passData.dispatcher.car_type_id : 1}}" seatCount="{{passData.dispatcher.sitcount ? passData.dispatcher.sitcount : ((passData.dispatcher.car_type_id == '1') ? 45 : 25)}}"></bus>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text="Буцах" color="primary"></ion-back-button>
      </ion-buttons>
    <!-- <ion-button slot="start" fill="clear" [routerDirection]="'backward'" [routerLink]="'/time-table'">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      <ion-label>Буцах</ion-label>
    </ion-button> -->
    <ion-button slot="end" fill="clear" [disabled]="!nextAgree" (click)="goToNextPage()">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
      <ion-label>Үргэлжлүүлэх</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>