-------------------------------------Сервисийн функцуудhttp://rest.transdep.mn:7879/Mobile/Service.asmx/get_Login?username=test&password=99002911public string get_Login(string username, string password)public string get_Source_stops(int branch_id)public string get_Destnation_stops(int branch_id, int aimag_id, int start_stop_id)public string get_Dispatcher_by_date(int aimag_id, int direction_id, DateTime out_date, int from_country)public string get_EmptySeat_by_dispatcher(Int32 dispatcher_id)public string get_Tariff_by_direction(Int32 direction_id, int start_stop_id, int end_stop_id, int car_type_id)public string ticket_search(string ticket_num, string register)public string get_ticket_list(DateTime created_at,int created_by)public string get_direction_list(int branch_id, bool is_com)public string get_empty_seat_list(int direction_id, bool from_country, DateTime out_date, int branch_id)public string delete_ticket(Int64 id, int deleted_by, string description, Int64 dispatcher_id, int seat_no)public String set_Ticket(                                           Int64 dispatcher_id,                                           int start_stop_id,                                           int end_stop_id,                                           int ticket_type_id,                                           bool is_child,                                           string ticket_num,                                           string register,                                           string passenger_name,                                           Int32 price92,                                           Int32 price8,                                           Int32 total,                                           int car_type_id,                                           int insurance,                                           int seat_no,                                           DateTime out_date,                                           string withchild_register,                                           string withchild_name,                                           string settlement_num,                                           int created_by,                                           int i_company_id,                                           string billId,                                           int edou_duty,                                           bool foreign_passenger,                                           int start_stop_sequence,    /*тарифаас авна*/                                           int end_stop_sequence       /*тарифаас авна*/						)----------------------------------------------------Тайлбар нь 														,@dispatcher_id BIGINT = NULL				Төлөвлөлтийн id /Тухайн тийз бичүүлж буй аялалын id/		,@start_stop_id INT = NULL					Эхлэх зогсоолын id 		,@end_stop_id INT = NULL					Дуусах зогсоолын id		,@ticket_type_id TINYINT = NULL				Тийзний төрөл-Хүрэх зогсоолоос хамаарна 1 монгол, 2 орос, 3 хятад /t_type_id утга ирнэ/		,@is_child BIT = NULL						Хүүхэд бол TRUE буюу 1		,@ticket_num BIGINT = NULL					Тийзний дугаар		,@register NVARCHAR(20) = NULL				Регистрийн дугаар		,@passenger_name NVARCHAR(50) = NULL		Зорчигчийн нэр		,@price92 INT = NULL						Тийзний 92 хувь		,@price8 INT = NULL							Тийзний 8 хувь		,@total INT = NULL							Бүгд дүн 92+8 хувь, ямар нэгэн амь даатгал, шимтгэл ороогүй дүн price_percent -утганд хэдэн хувиар бодох нь ирнэ 4 8 10 гэж байдаг.		,@car_type_id TINYINT = NULL				Тээврийн хэрэгслийн төрөл том, дунд, бага		,@insurance INT = NULL						Амь даатгал хийлгэсэн бол мөнгөн дүн		,@seat_no TINYINT = NULL					Суудлын дугаар		,@out_date SMALLDATETIME = NULL				Автобус хөдлөх он сар өдөр цаг		,@withchild_register NVARCHAR(12) = NULL	Насанд хүрээгүй хүүхэд авч яваа бол 		,@withchild_name NVARCHAR(50) = NULL		нэр, регистр оруулна		,@settlement_num NVARCHAR(20) = NULL		Утга нь кассын тооцооны хуудасны дугаар байх ёстой. Танайх тодорхой дугаар байхгүй учир 20170523 гэдэг ч 													юмуу тиймэрхүү утгатай байвал зүгээр.		,@settlement_date AS DATETIME = NULL		Тооцоо хаасан огноо. Тийз нэмэгдсэн огноо байж болно		,@created_by INT = NULL						Тийз бичсэн хэрэглэгчийн id /логин хийсэн хэрэглэгчийн id гэсэн үг/		,@i_company_id SMALLINT = NULL				Даатгалын компаний id /s_insu_com_id, e_insu_com_id 2-н аль нэг нь ирнэ/		,@billId NVARCHAR(33)=NULL					НӨАТУС-ийн ДДТДугаар 33 оронтой /маргааш асуугаарай/		,@edou_duty INT=NULL                  		Эрдэм Дневир Оюун Ухаан компани авч буй шимтгэлийн дүн		,@foreign_passenger BIT=NULL				Гадаад улсын иргэн бол TRUE буюу 1		,@start_stop_sequence						Энэ 2 талбарыг тарифаас авна		,@end_stop_sequence		----------------------------------------------------Тайлбарын төгсгөл--------------------------------------SP -ууд USE [ttsDB2017]GO/****** Object:  StoredProcedure [dbo].[mobile_service]    Script Date: 1/23/2018 9:08:32 AM ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOALTER PROCEDURE [dbo].[mobile_service]( @action AS TINYINT,@username NVARCHAR(20)=NULL,@pass NVARCHAR(20)=NULL,@branch_id TINYINT = NULL,@aimag_id TINYINT = NULL ,@direction_id TINYINT = NULL ,@from_country BIT=NULL,@dispatcher_id BIGINT = NULL,@start_stop_id INT = NULL,@end_stop_id INT = NULL,@ticket_type_id TINYINT = NULL,@start_stop_sequence SMALLINT = NULL,@end_stop_sequence SMALLINT = NULL,@is_child BIT = NULL,@ticket_num BIGINT = NULL,@register NVARCHAR(20) = NULL,@passenger_name NVARCHAR(50) = NULL,@price92 INT = NULL,@price8 INT = NULL,@total INT = NULL,@car_type_id TINYINT = NULL,@insurance INT = NULL,@canceled BIT = NULL,@printed BIT = NULL,@seat_no TINYINT = NULL,@out_date SMALLDATETIME = NULL,@withchild_register NVARCHAR(12) = NULL,@withchild_name NVARCHAR(50) = NULL,@settlement_num NVARCHAR(20) = NULL,@settlement_date AS DATETIME = NULL,@cancel_percent INT = NULL,@description NVARCHAR(150) = NULL,@created_by INT = NULL,@created_at SMALLDATETIME = NULL,@updated_by INT = NULL,@deleted_by INT = NULL,@i_company_id SMALLINT = NULL,@foreign_passenger BIT=NULL,@is_com BIT=NULL)ASBEGINIF(@action = 0)BEGIN	SELECT [id],[fullname],[branch_id],[branch_name],[user_job_id],[user_job_name],[is_country],[is_com],[is_password],[job_level],[aimag_id]	FROM [s_user_View]	WHERE [is_active] = 1 AND [loginname] = @username AND [loginpass] = dbo.MD5(@pass)	FOR JSON PATH, ROOT('result')ENDELSE IF(@action = 1)BEGIN	SELECT tv.aimag_id as ss_A_id,tv.start_stop_aimag_name as ss_A_name, tv.start_stop_id as ss_id,tv.start_stop_name as ss_name	FROM [v_dirservice] ds 	RIGHT JOIN v_tariff_View tv ON ds.direction_id=tv.direction_id	WHERE [branch_id] = @branch_id AND [is_ticket] =1 	GROUP BY tv.aimag_id,tv.start_stop_aimag_name, tv.start_stop_id,tv.start_stop_name	ORDER BY tv.aimag_id,tv.start_stop_aimag_name, tv.start_stop_id,tv.start_stop_name	FOR JSON AUTO, ROOT('result')ENDELSE IF(@action = 2)BEGIN	SELECT  tv.direction_id as dir_id,tv.is_rtrn,tv.direction_name as dir_name,tv.end_stop_aimag_id as es_A_id,tv.end_stop_aimag_name as es_A_name, tv.end_stop_id as es_id, tv.end_stop_name as es_name	FROM [v_dirservice] ds 	RIGHT JOIN v_tariff_View tv ON ds.direction_id=tv.direction_id	WHERE [branch_id] = @branch_id AND [is_ticket] =1 AND aimag_id=@aimag_id AND start_stop_id=@start_stop_id	GROUP BY tv.direction_id,tv.is_rtrn,tv.direction_name,tv.end_stop_aimag_id,tv.end_stop_aimag_name, tv.end_stop_id, tv.end_stop_name	ORDER BY tv.direction_id,tv.is_rtrn,tv.direction_name,tv.end_stop_aimag_id,tv.end_stop_aimag_name, tv.end_stop_id, tv.end_stop_name	FOR JSON AUTO, ROOT('result')ENDELSE IF(@action = 3)BEGIN	select dsv.id as dis_id,dsv.direction_name as dir_name,dsv.car_type_id as c_t_id, dsv.leave_date as leave, dsv.sitcount as sitcnt, 	(select COUNT(dispatcher_id) from t_dispatcher_seats where dsv.id=dispatcher_id and start_sequence IS NULL and end_sequence IS NULL and zahialagch_id IS NULL) AS e_sitcnt ,dsv.car_number as c_num	from t_dispatcher_View dsv	where	--dsv.aimag_id=@aimag_id and			dsv.direction_id=@direction_id 			and dsv.is_closed=0 			and dsv.is_actived=1 			and dsv.from_country=@from_country			and dsv.leave_date BETWEEN @out_date and DATEADD(DAY, 1, @out_date) 	FOR JSON AUTO, ROOT('result')ENDELSE IF(@action = 4)BEGIN	select seat_no 	from t_dispatcher_seats 	where dispatcher_id=@dispatcher_id and start_sequence IS NULL and end_sequence IS NULL and zahialagch_id IS NULL 	FOR JSON AUTO, ROOT('result')ENDELSE IF(@action = 5)BEGIN	select start_stop_sequence as s_seq, end_stop_sequence as e_seq, ticket_type_id as t_type_id,			CASE				WHEN @car_type_id=1 THEN big_price				WHEN @car_type_id=2 THEN mid_price				WHEN @car_type_id=3 THEN lit_price				WHEN @car_type_id=4 THEN sit_price			END AS a_price,			CASE				WHEN @car_type_id=1 THEN big_childprice				WHEN @car_type_id=2 THEN mid_childprice				WHEN @car_type_id=3 THEN lit_childprice				WHEN @car_type_id=4 THEN sit_childprice			END AS c_price,			CASE				WHEN @car_type_id=1 THEN big_insurance				WHEN @car_type_id=2 THEN mid_insurance				WHEN @car_type_id=3 THEN lit_insurance				WHEN @car_type_id=4 THEN sit_insurance			END AS a_insur,			CASE				WHEN @car_type_id=1 THEN big_childinsurance				WHEN @car_type_id=2 THEN mid_childinsurance				WHEN @car_type_id=3 THEN lit_childinsurance				WHEN @car_type_id=4 THEN sit_childinsurance			END AS c_insur,			CASE				WHEN @car_type_id=1 THEN big_price_percent				WHEN @car_type_id=2 THEN mid_price_percent				WHEN @car_type_id=3 THEN lit_price_percent				WHEN @car_type_id=4 THEN sit_price_percent			END AS price_percent,			start_i_com_id as s_insu_com_id, end_i_com_id as e_insu_com_id	from v_tariff_View	where direction_id=@direction_id AND start_stop_id =@start_stop_id AND end_stop_id=@end_stop_id	FOR JSON AUTO, ROOT('result')ENDELSE IF(@action = 6)BEGIN	IF NOT EXISTS(SELECT [seat_no] FROM dbo.[t_dispatcher_seats] WHERE [dispatcher_id] = @dispatcher_id AND [seat_no] = @seat_no AND [zahialagch_id] IS NULL)		BEGIN			RAISERROR('Энэ суудлыг захиалсан байна.',16,-1)			RETURN		END	IF NOT EXISTS(SELECT [seat_no] FROM dbo.[t_dispatcher_seats] WHERE [dispatcher_id] = @dispatcher_id AND [seat_no] = @seat_no AND ([start_sequence] IS NULL AND [end_sequence] IS NULL))		BEGIN			RAISERROR('Энэ суудалд тийз бичигдсэн байна.',16,-1)			RETURN		END	IF EXISTS(SELECT [id] FROM dbo.[t_dispatcher] WHERE [id] = @dispatcher_id AND ([is_closed] = 1 OR [is_actived] = 0))		BEGIN			RAISERROR('Энэ чиглэл хаагдсан байна.',16,-1)			RETURN		END   INSERT INTO dbo.[t_ticket](    [dispatcher_id]    ,[start_stop_id]    ,[end_stop_id]	,[ticket_type_id]    ,[is_child]    ,[ticket_num]    ,[register]    ,[passenger_name]    ,[price92]    ,[price8]    ,[total]    ,[car_type_id]	,[insurance]    ,[seat_no]    ,[out_date]    ,[withchild_register]    ,[withchild_name]    ,[created_by]    ,[created_at]	,[i_company_id]	,[foreign_passenger]   ) VALUES(    @dispatcher_id    ,@start_stop_id    ,@end_stop_id	,@ticket_type_id    ,@is_child    ,@ticket_num    ,@register    ,@passenger_name    ,@price92    ,@price8    ,@total    ,@car_type_id	,@insurance    ,@seat_no    ,@out_date    ,@withchild_register    ,@withchild_name    ,@created_by    ,GETDATE()	,@i_company_id	,@foreign_passenger)UPDATE dbo.[t_dispatcher_seats] SET [start_sequence] = @start_stop_sequence,[end_sequence] = @end_stop_sequence WHERE [dispatcher_id] = @dispatcher_id AND [seat_no] = @seat_noSELECT id FROM dbo.[t_ticket_View] WHERE id IN (SELECT MAX(id) FROM dbo.[t_ticket])FOR JSON AUTO, ROOT('result')ENDELSE IF(@action = 7)BEGIN		SELECT  top 20 		ticket_num as t_num, 		register as reg, 		passenger_name as p_name, 		seat_no, 		number, 		out_date,		start_stop_name AS ss_name, 		end_stop_name AS es_name, 		created_firstname as kass, 		created_at--, 		--CASE WHEN canceled=1 THEN N'Буцаагдсан' ELSE N'Хэвийн' END AS status		FROM	dbo.t_ticket_View 		WHERE	(@ticket_num IS NULL OR CONVERT(VARCHAR(20), [ticket_num]) LIKE @ticket_num) AND (@register IS NULL OR register LIKE @register)		FOR JSON PATH, ROOT('result')ENDELSE IF(@action = 8)BEGIN		SELECT		id,		dispatcher_id as dis_id,		ticket_num as t_num, 		register as reg, 		passenger_name as p_name, 		seat_no, 		number, 		out_date,		start_stop_name AS ss_name, 		end_stop_name AS es_name		FROM	dbo.t_ticket_View 		WHERE created_at BETWEEN @created_at and DATEADD(DAY, 1, @created_at) AND created_by=@created_by		FOR JSON PATH, ROOT('result')ENDELSE IF(@action = 9)BEGIN		select 			direction_id as dir_id,			direction_name as dir_name		from v_dirservice_View		where branch_id=@branch_id and is_com=@is_com		FOR JSON PATH, ROOT('result')ENDELSE IF(@action =10)BEGINselect dsv.id as dis_id,company_id as com_id,dsv.direction_name as dir_name,from_country as f_cntry,dsv.car_type_id as c_t_id, dsv.leave_date as leave, dsv.sitcount as sitcnt, (select COUNT(dispatcher_id) from t_dispatcher_seats where dsv.id=dispatcher_id and start_sequence IS NULL and end_sequence IS NULL and zahialagch_id IS NULL) AS e_sitcnt ,dsv.car_number as c_numfrom t_dispatcher_View dsvwhere	--dsv.aimag_id=@aimag_id and			dsv.direction_id=@direction_id 			and dsv.is_closed=0 			and dsv.is_actived=1 			and dsv.from_country=@from_country			and dsv.leave_date BETWEEN @out_date and DATEADD(DAY, 1, @out_date) 			AND (@branch_id IS NULL OR company_id = @branch_id)	FOR JSON AUTO, ROOT('result')ENDEND