.warning-side {
    background: yellow; 
    margin: 5px; 
    border-radius: 5px;
}

.warning-info {
    font-size: 12px;
    text-align: left;
    padding-right: 15px;
    padding-left: 20px;
}

.warning-info-sub {
    padding-left: 10px;
    text-align: justify;
}