.title-md, .title-ios {
    font-size: 18px;
}
ion-item {
  --highlight-color-focused: var(--ion-color-primary,#3880ff);
  --highlight-color-valid: var(--ion-color-primary,#3880ff);
  --highlight-color-invalid: var(--ion-color-danger,#f04141);
}
.custom-select, .custom-datetime, .list, .body-side, .custom-divider {
    font-size: 14px;
}

//ion item font size
.sc-ion-label-md-h, .sc-ion-label-ios-h, .sc-ion-input-md,  .sc-ion-input-ios{
    font-size: 14px !important;
}

.custom-datetime {
    --padding-start: 10px;
}

.stop {
    --padding-start: 30px; 
}

.celsius {
    font-size: 20px;
}

.user-btn{
  border-radius: 50%;
  margin: 0 10px;
}
.pic-edit-control {
  width: 100%;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
  height: 35px;
}
.edit-layer {
  border-radius:15px;
  width: 90px;
  height: 100%;
  display: inline-flex;
  margin: 0px auto;
  background: var(--ion-color-primary-tint);
}
.icon-btn {
  padding: 5px;
  float: right;
  margin:0 5px;
  color: var(--ion-color-light);
  border-radius: 50%;
}
.user-icon{
  height: 35px;
  width: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.icon-btn:hover {
  background: rbga(0,0,0,0.3);
}

.item ion-thumbnail {
    width: 36px;
    height: 36px;
    // img {
    //   max-width: 32px;
    //   min-width: 32px;
    // }
}

.start-side {
    text-align: center;
}

.start-side {
    width: 60px;
    margin-right: 10px;
}

.start-time {
    font-size: 16px !important;
    font-weight: bold;
}
.start-date {
  font-size: 12px !important;
    font-weight: bold;
}

.body-side {
    padding: 0 0 0 10px;
    border-left: 1px solid var(--ion-color-dark);
    width: 100%;
}

.sub-body {
    font-size: 12px !important;
    margin-right: 10px;
}

.combo-item {
    padding: 0px 10px
}

.custom-divider {
    height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--ion-color-divider);
}

.custom-divider ion-label{
  color: var(--ion-color-light) !important;
}

.bg-sea{
    background: var(--ion-color-sea) !important;
}

.bg-aqua {
    background: var(--ion-color-aqua) !important;
}

.custom-divider ion-label, .body-side {
    margin: 0;
}

.custom-avatar {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

.error{
    // background: #FDE2E2;
    color: var(--ion-color-danger);
    margin: 5px;
    padding: 0px;
}
.error-msg {
    border: 1px solid var(--ion-color-danger);
    border-radius: 5px;
    font-size: 14px;
}

.ico-times:before{ content: "\2718"; }
.ico-times:hover {
    background: rgba(31, 30, 30, 0.3);
    color: var(--ion-color-danger);
}

.close-icon {
    float: right;
    padding: 5px 5px 5px 8px !important;
    border-radius: 50px;
    height: 30px;
    width: 30px;
}


////////////////////////////////////////


.padding-wrap-tb {
	padding: 15px 0px 15px 0px;
}
.padding-wrap-all {
	padding: 10px;
}
.padding-wrap-lr {
	padding: 0px 10px 0px 10px;
}
.custom-button {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: var(--ion-color-light);
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: relative;
  background-color: var(--ion-color-primary);
  border: none;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0 5px 5px var(--ion-color-medium);
  border-radius: 25px;
}

.custom-button:hover {
  background: var(--ion-color-primary);
  box-shadow: 0px 5px 5px var(--ion-color-primary-tint);
  // color: #000;
}

.custom-button:after {
  content: "";
  background: var(--ion-color-primary-tint);
  display: block;
  position: absolute;
  padding-top: 100%;
  padding-left: 100%;
  margin-left: -20px !important;
  margin-top: -50%;
  opacity: 0;
  transition: all 0.8s
}

.custom-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.custom-button:focus { outline:0; }


//button end//










/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/


/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: var(--ion-color-primary);
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6a00c7;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: var(--ion-color-dark);
	margin: 0px;
}

ul, li {
	margin: 0px;
}
.mp-0 {
  margin:0px;
  padding:0px;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: var(--ion-color-medium);}
input:-moz-placeholder { color: var(--ion-color-medium);}
input::-moz-placeholder { color: var(--ion-color-medium);}
input:-ms-input-placeholder { color: var(--ion-color-medium);}

textarea::-webkit-input-placeholder { color: var(--ion-color-medium);}
textarea:-moz-placeholder { color: var(--ion-color-medium);}
textarea::-moz-placeholder { color: var(--ion-color-medium);}
textarea:-ms-input-placeholder { color: var(--ion-color-medium);}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*--[ Utility ]--*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-dark);
  text-transform: uppercase;
}

.bg1 {background-color: #3b5998}
.bg2 {background-color: #1da1f2}
.bg3 {background-color: #ea4335}



/*--[ login ]--*/
.login-wrap-limiter {
  max-width: 400px;
  margin: 0 auto;
}

.login-wrap {
  width: 100%;
  background: transparent;
}
.login-input-wrap {
  background:var(--ion-color-light);
  width: 90%;
  border-radius: 5px; 
  margin: 0 auto;
  padding: 20px 10px;
  box-shadow:0 5px 5px var(--ion-color-medium);
}

/* --[ Form ]--*/

.login-form {
  width: 100%;
}

.login-form-icon {
  border-radius: 50%;
  box-shadow: 2px 2px 10px 2px #193b5a;
  display: block;
  text-align: center;
  margin:7% auto;
  width:110px;
  height:110px;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}

.label-input {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: var(--ion-color-dark);
  line-height: 1;
  padding-left: 7px;
}

.input {
  font-family: Poppins-Medium;
  font-size: 14px;
  color: var(--ion-color-dark);
  line-height: 1;
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  padding: 0 7px 0 5px;
}


/*---------------------------------------------*/
.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::after {
  font-family: Material-Design-Iconic-Font;
  color: var(--ion-color-medium);
  font-size: 22px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--ion-color-primary);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .wrap-input::before {
  width: 100%;
}
.input:focus + .wrap-input::after {
  color: var(--ion-color-primary);
}
.input:focus + .focus-input::before {
  width: 100%;
}

.has-val.input + .focus-input::before {
  width: 100%;
}

.input:focus + .focus-input::after {
  color: var(--ion-color-primary);
}

.has-val.input + .focus-input::after {
  color: var(--ion-color-primary);
}

/*--[text]--*/
.text-right {
	text-align:right;
}
.text-center {
	text-align:center;
}
.text-left {
	text-align:left;
}

/*--[height]--*/
.height-100 {
	height:100%;
}
.full-100 {
  height:100%;
  width: 100%;
  padding: 0;
  margin:0;
}
/*--[icon]--*/
.input-icon {
	height: 20px;
	width: 20px;
	padding-top: 5px;
	padding-left: 5px;
	color: var(--ion-color-dark);
}

/*--[ Social item ]--*/
.login-social-item {
  font-size: 25px;
  color: var(--ion-color-light);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.login-social-item:hover {
  color: var(--ion-color-light);
  background-color: var(--ion-color-dark);
}

.linear-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.icon-normal {
  font-size:25px;
}
.btn-header {
  padding-left: 5px;
}