<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding class="custom-content">
  <ion-grid style="height: 90vh">
    <ion-row align-items-center style="height: 90vh">
      <ion-col>
        <div style="height: 180px; width: 100%; text-align: center; padding-top: 50px;">
          <img src=" ../../assets/icon/transport_logo.png" alt="transport-logo" height="120px" width="120px">
        </div>
        <!-- Email Input -->
        <ion-item lines="full" class="custom-item-input" mode="ios">
          <ion-input class="custom-input" (change)="changeEmail()" placeholder="И-мэйл" pattern="email" size="email"
            type="email" mode="ios" [(ngModel)]="user.email"></ion-input>
        </ion-item>

        <!-- Password Input -->
        <ion-item lines="full" class="custom-item-input" mode="ios">
          <ion-input class="custom-input" (change)="changePassword()" placeholder="Нууц үг" pattern="password"
            size="password" type="password" mode="ios" [(ngModel)]="user.password"></ion-input>
        </ion-item>
        <ion-grid class="error error-msg" *ngIf="loginError">
          <ion-row align-items-center>
            <ion-col size="10" style="text-align:center;">
              <span>{{loginError}}</span>
            </ion-col>
            <ion-col size="2">
              <i class="ico-times close-icon" (click)="closeErrorMsg()"></i>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button class="custom-button" expand="block" fill="solid" color="success" mode="ios" (click)="login()">
          Нэвтрэх</ion-button>
        <div class="signup-item">
          <a class="link-btn" mode="ios">Нууц үг мартсан</a>
          <a (click)="goToSignUp()" class="link-btn">Бүртгүүлэх</a>
        </div>
        <ion-button class="custom-button fb" (click)="facebookLogin()" expand="block" fill="solid" mode="ios">Facebook
          <ion-icon name="facebook" slot="start"></ion-icon>
          хаягаар нэвтрэх</ion-button>
        <ion-button class="custom-button google" expand="block" fill="solid" mode="ios">Google
          хаягаар нэвтрэх</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>