.seat {
    width: 25px;
    height: 25px;
    position: relative;
    padding-top: 3px;
}

.seat-img {
    z-index: 1;
    position: absolute;
}

.seat-no {
    position: relative;
    font-size: 12px;
    padding-top: 3px;
    z-index: 1;
    text-align: center;
}