.statusCircle {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
}
.statusText {
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
}
.statusIcon {
    font-size: 20px;
    color: #fff;
}