<ion-header>
  <ion-toolbar>
    <ion-title>Захиалга хийх</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider class="custom-divider">
      <ion-label>Зорчигчдын мэдээлэл</ion-label>
    </ion-item-divider>
    <ion-list-header color="primary">
      <ion-label class="custom-list-header-ios">Нийт үнэ</ion-label>
      <ion-label class="amount-text custom-list-header-ios">{{totalAmount}}₮</ion-label>
    </ion-list-header>
    <div *ngFor="let passenger of passengersData; let i=index">
      <ion-list-header color="danger">
        <ion-label class="custom-list-header-ios">{{passenger.seat_no}} дугаартай суудал</ion-label>
        <ion-label class="amount-text custom-list-header-ios">{{passenger.amount}}₮</ion-label>
      </ion-list-header>
      <div class="padding-list">
        <ion-item>
          <ion-label>Нас</ion-label>
          <ion-select class="custom-select" interface="popover" [(ngModel)]="passenger.age" (ionChange)="calcAmountAge(i)">
            <ion-select-option value="1" selected>Том хүн</ion-select-option>
            <ion-select-option value="0">Хүүхэд /7-12 нас/</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Овог" [(ngModel)]="passenger.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Регистерийн дугаар" [(ngModel)]="passenger.register"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Амь даатгал /400₮/</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="passenger.incur" (ionChange)="calcTotalAmout(i)"></ion-checkbox>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="custom-button" slot="start" fill="clear" [routerDirection]="'backward'"
      [routerLink]="'/seats-select'">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      <ion-label>Буцах</ion-label>
    </ion-button>
    <ion-button class="custom-button" slot="end" fill="clear" (click)="goToNextPage()">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
      <ion-label>Үргэлжлүүлэх</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>