<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Захиалга хийх
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <fa-icon class="icon-normal" icon="times-circle" color="light"></fa-icon>
        <ion-label class="btn-header">Цуцлах</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">
  <ion-list>
    <ion-item-divider class="custom-divider">
      <ion-label>Зорчигчдын мэдээлэл</ion-label>
    </ion-item-divider>
    <ion-item-divider class="custom-divider bg-sea">
      <ion-label>Нийт үнэ</ion-label>
      <ion-label class="amount-text ">{{totalAmount}}₮</ion-label>
    </ion-item-divider>
    <div *ngFor="let passenger of passengersData; let i=index">
      <ion-item-divider class="custom-divider bg-aqua">
        <ion-label>{{passenger.seat_no}} дугаартай суудал</ion-label>
        <ion-label class="amount-text ">{{passenger.amount}}₮</ion-label>
      </ion-item-divider>
      <div class="padding-list">
        <ion-item>
          <fa-icon icon="sort-numeric-up" slot="start"></fa-icon>
          <ion-label style="padding-left:5px;">Нас</ion-label>
          <ion-select class="custom-select" interface="popover" [(ngModel)]="passenger.age"
            (ionChange)="calcAmountAge(i)">
            <ion-select-option value="1" selected>Том хүн</ion-select-option>
            <ion-select-option value="0">Хүүхэд /7-12 нас/</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <fa-icon icon="address-card" slot="start"></fa-icon>
          <ion-input placeholder="Овог.Нэр" [(ngModel)]="passenger.name" (change)="changeName(i)"></ion-input>
        </ion-item>
        <ion-item>
          <fa-icon icon="fingerprint" slot="start"></fa-icon>
          <ion-input placeholder="Регистерийн дугаар" [(ngModel)]="passenger.register" (change)="changeRegister(i)">
          </ion-input>
        </ion-item>
        <ion-item lines="full">
          <fa-icon icon="user-shield" slot="start"></fa-icon>
          <ion-label>Амь даатгал /400₮/</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="passenger.incur" (ionChange)="calcAmountAge(i)"></ion-checkbox>
        </ion-item>
      </div>
    </div>
    <ion-grid class="error error-msg" *ngIf="error">
      <ion-row align-items-center>
        <ion-col size="10" style="text-align:center;">
          <span>{{error}}</span>
        </ion-col>
        <ion-col size="2">
          <i class="ico-times close-icon" (click)="closeErrorMsg()"></i>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" [routerDirection]="'backward'" [routerLink]="'/seats-select'">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      <ion-label>Буцах</ion-label>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="goToNextPage()" [disabled]="!nextAgree">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
      <ion-label>Үргэлжлүүлэх</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>