<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Нүүр
    </ion-title>
    <ion-buttons class="user-btn" slot="end" (click)="openPopover($event)">
        <img class="user-icon" *ngIf="avatarImage != null" [src]="avatarImage">
        <img class="user-icon" *ngIf="(avatarImage == null)" color="light" src="../../../assets/other/user-circle-solid.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">

  <ion-list>
    <ion-item-divider class="custom-divider">
      <ion-label>Өнөөдөр</ion-label>
    </ion-item-divider>
    <ion-item class="text-center" (click)="openWeather($event)" lines="none" *ngIf="weatherData">
      <ion-thumbnail slot="start">
        <img src="{{'http://openweathermap.org/img/w/' + weatherData.weather[0].icon +'.png'}}">
      </ion-thumbnail>
      <ion-label>{{selectedCity.mn_name}}</ion-label>
      <div slot="end">
        <ion-label>
          <b class="celsius">{{weatherData.main.temp}}°C</b>
        </ion-label>
      </div>
    </ion-item>
    <!-- <ion-list-header>Чиглэлийн жагсаалт</ion-list-header> -->
    <ion-item-divider class="custom-divider">
      <ion-label>Хаанаас</ion-label>
    </ion-item-divider>
    <ion-item (click)="changeFromStop()" lines="none">
        <ion-label>{{ fromStop ? fromStop.stop_name : 'Буудал сонгох' }}</ion-label>
        <ion-icon name="arrow-dropdown" slot="end"></ion-icon>
    </ion-item>

    <ion-item-divider class="custom-divider">
      <ion-label>Хаашаа</ion-label>
    </ion-item-divider>
    <ion-item (click)="changeToStop()" lines="none" [disabled]="!fromStop">
      <ion-label>{{ toStop ? toStop.stop_name : 'Буудал сонгох' }}</ion-label>
      <ion-icon name="arrow-dropdown" slot="end"></ion-icon>
    </ion-item>

    <ion-item-divider class="custom-divider">
      <ion-label>Цагийн хуваарь</ion-label>
    </ion-item-divider>
    <div *ngIf="timeTableData != null">
      <ion-item lines="full" *ngFor="let item of timeTableData; let i=index;" (click)="clickItem(item)">
        <div slot="start" class="start-side">
          <!-- <ion-label class="start-date">2019.01.10</ion-label> -->
          <ion-label class="start-date">{{item.leave_date_text}}</ion-label>
          <ion-label class="start-time">{{item.leave_date_time}}</ion-label>
        </div>
        <div class="body-side">
          <ion-label>{{item.direction_name ? item.direction_name[0] : ''}}</ion-label>
          <ion-label class="sub-body">{{item.car_type_name ? item.car_type_name[0] : ''}}</ion-label>
        </div>
        <div slot="end" class="end-side">
            <ion-label class="start-date">Суудал</ion-label>
            <ion-label class="start-time">{{item.sitcount ? (item.sitcount[0] - (item.empty_seat_count ? item.empty_seat_count[0] : 0)) + ' / ' + item.sitcount[0] : 'NaN'}}</ion-label>
            
        </div>
        <!-- <div slot="end" class="end-side">
          End
        </div> -->
      </ion-item>
    </div>
    <div class="no-item" *ngIf="timeTableData == null">
      Хуваарь байхгүй байна
    </div>
  </ion-list>

</ion-content>