<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Нүүр
    </ion-title>
    <ion-buttons class="user-btn" slot="end" (click)="openPopover($event)">
        <img class="user-icon" *ngIf="avatarImage != null" [src]="avatarImage">
        <img class="user-icon" *ngIf="(avatarImage == null)" color="light" src="../../../assets/other/user-circle-solid.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">

  <ion-list>
    <ion-item-divider class="custom-divider">
      <ion-label>Өнөөдөр</ion-label>
    </ion-item-divider>
    <ion-item class="text-center" (click)="openModalWeather($event)" lines="none" *ngIf="weatherData">
      <ion-thumbnail slot="start">
        <img src="{{'http://openweathermap.org/img/w/' + weatherData.weather[0].icon +'.png'}}">
      </ion-thumbnail>
      <ion-label>{{selectedCity.mn_name}}</ion-label>
      <div slot="end">
        <ion-label>
          <b class="celsius">{{weatherData.main.temp}}°C</b>
        </ion-label>
      </div>
    </ion-item>
    <!-- <ion-list-header>Чиглэлийн жагсаалт</ion-list-header> -->
    <ion-item-divider class="custom-divider">
      <ion-label>Хаанаас</ion-label>
    </ion-item-divider>

    <div class="combo-item">
      <ion-select okText="Сонгох" class="custom-select" cancelText="Болих" [(ngModel)]="model.fromAimag"
        placeholder="Аймаг сонгох" (ionChange)="changeFromAimag()" name="fromAimag">
        <div *ngFor="let item of aimagData; let i = index;">
          <ion-select-option [value]="i">{{item.name}}</ion-select-option>
        </div>
      </ion-select>
    </div>
    <div class="combo-item" *ngIf="model.fromAimag != null && model.fromAimag != undefined">
      <ion-select okText="Сонгох" class="custom-select stop" cancelText="Болих" [(ngModel)]="model.fromStop"
        placeholder="Буудал сонгох" (ionChange)="changeFromStop()" name="fromStop">
        <div *ngFor="let item of aimagData[model.fromAimag].data; let i = index;">
          <ion-select-option [value]="i">{{item.ss_name}}</ion-select-option>
        </div>
      </ion-select>
    </div>

    <ion-item-divider class="custom-divider">
      <ion-label>Хаашаа</ion-label>
    </ion-item-divider>
    <div class="combo-item">
      <ion-select okText="Сонгох" class="custom-select" cancelText="Болих" [(ngModel)]="model.toAimag"
        placeholder="Аймаг сонгох" name="toAimag" [disabled]="model.fromAimag == null || model.fromAimag == undefined">
        <div *ngFor="let item of distData; let i = index;">
          <ion-select-option [value]="i">{{item.name}}</ion-select-option>
        </div>
      </ion-select>
    </div>
    <div class="combo-item" *ngIf="model.toAimag != null && model.toAimag != undefined">
      <ion-select okText="Сонгох" class="custom-select  stop" cancelText="Болих" [(ngModel)]="model.toStop"
        placeholder="Буудал сонгох" name="toStop" (ionChange)="changeToStop()">
        <div *ngFor="let item of distData[model.toAimag].data; let i = index;">
          <ion-select-option [value]="i">{{item.ss_name}}</ion-select-option>
        </div>
      </ion-select>
    </div>

    <ion-item-divider class="custom-divider">
      <ion-label>Цагийн хуваарь</ion-label>
    </ion-item-divider>
    <ion-item lines="full" *ngFor="let item of timeTableData; let i=index;" (click)="clickItem(item)">
      <div slot="start" class="start-side">
        <!-- <ion-label class="start-date">2019.01.10</ion-label> -->
        <ion-label class="start-date">{{item.leave_date_text}}</ion-label>
        <ion-label class="start-time">{{item.leave_date_time}}</ion-label>
      </div>
      <div class="body-side">
        <ion-label>{{item.direction_name}}</ion-label>
        <ion-label class="sub-body">{{item.car_type_name}}</ion-label>
      </div>
      <!-- <div slot="end" class="end-side">
        End
      </div> -->
    </ion-item>

  </ion-list>

</ion-content>