<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Захиалга хийх
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <fa-icon class="icon-normal" icon="times-circle" color="light"></fa-icon>
        <ion-label class="btn-header">Цуцлах</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="warning-side">
    <ol class="warning-info">
      <li>
        <b>Зорчигчдын анхаарах зүйлс.</b>
        <ul class="warning-info-sub">
          <li>Автобусанд суухдаа зорчигчид хувийн бичиг баримтаа жолоочид шалгуулаад сууна</li>
          <li>Хэрэв төлбөрийн баримт шаардлагатай бол автобус хөдлөн явахаас 30 минутын өмнө ирж лавлагаа хэвлүүлж
            авсан байх ба суудлаа эзэлсэн байх.</li>
          <li>0-6 насны хүүхдийг суудал эзлүүлэхгүйгээр үнэ төлбөргүй тээвэрлэнэ.</li>
          <li>60*40*20 см-ээс илүүгүй овор хэмжээтэй, 20 кг хүртлэх жинтэй гар тээшийг биедээ авч явахыг
            зөвшөөрнө.
          </li>
          <li>Тухайн аялалд явах боломжгүй болж тасалбар буцаах бол тийзний үнийн дүнгийн 15 хувьтай тэнцэх
            хэмжээний үйлчилгээний төлбөр болон онлайн үйлчилгээний төлбөрийг төлнө.</li>
          <li>Хэрэглэгч та Захиалга хийгдсэнээс хойш 20 минутын дотор Автотээврийн үндэсний төвийн дансруу
            төлбөрөө
            шилжүүлэх ба гүйлгээний утга хэсэгт ЗАХИАЛГЫН КОД /заавал/ болон холбогдох утасны дугаараа бичиж
            шилжүүлэг хийнэ.</li>
        </ul>
      </li>
      <li>
        <b>Зорчигчийг дараах нөхцөлд тээвэрлэхээс татгалзах эрхтэй. Үүнд:</b>
        <ul class="warning-info-sub">
          <li>Согтууруулах ундаа хэрэглэсэн зорчигчид үйлчлэхгүй.</li>
          <li>Зорчигчдын нэр, регистерийн дугаар болон насыг буруу мэдээлсэн бол тухайн зорчигчид үйлчилгээ
            үзүүлэхгүй.</li>
          <li>Асран хамгаалагчгүйгээр бага насны /0-12/ хүүхдийг зорчуулахгүй.</li>
          <li>Зорчигч нь хөнгөлөлтөд хамрагдах боломжгүй, заагдсан насны заагт багтахгүй боловч хүүхдийн тасалбар
            авсан, дутуу төлбөр төлсөн бол зорчигчид үйлчлэхгүй.</li>
        </ul>
      </li>
      <li>
        <b>Онлайн захиалгын үйлчилгээ нь ямар нэгэн нэмэлт шимтгэл байхгүй.</b>
        <ul class="warning-info-sub">
          <li>Том хүн: 0 ₮</li>
          <li>Хүүхэд /7-12/: 0 ₮</li>
        </ul>
      </li>
    </ol>
  </ion-row>
  <ion-item lines="full">
    <fa-icon icon="clipboard-check" slot="start"></fa-icon>
    <ion-label>Зөвшөөрөх</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="isAgree"></ion-checkbox>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" [routerDirection]="'backward'" [routerLink]="'/subscriber-info'">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      <ion-label>Буцах</ion-label>
    </ion-button>
    <ion-button slot="end" fill="clear" [disabled]="!isAgree" (click)="goToPayment()">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
      <ion-label>Захиалах</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
