<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar
      [(ngModel)]="stop_name"
      animated
      mode="ios"
      color="light"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-list>
        <div *ngFor="let lists of displayList">
          <ion-item-divider color="primary">
            <ion-label>
              {{lists[0].aimag_id}}
            </ion-label>
          </ion-item-divider>
          <ion-item (click)="selectItem(item)" *ngFor="let item of lists">
            {{item.end_stop_name}}
          </ion-item>
        </div>
      </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="close()">Болсон</ion-button>
  </ion-toolbar>
</ion-footer>
