<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Төлбөр
    </ion-title>
    <ion-buttons class="user-btn" slot="end" (click)="goToUser()">
      <img class="user-icon" *ngIf="avatarImage != null" [src]="avatarImage">
      <img class="user-icon" *ngIf="(avatarImage == null)" color="light"
        src="../../../assets/other/user-circle-solid.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="full-100">
    <ion-list>
      <ion-item-divider class="custom-divider">
        <ion-label>Захиалгын мэдээлэл</ion-label>
      </ion-item-divider>
      <ion-row>
        <ion-col style="margin: 0px 15px; width: 100%; border-bottom:1px solid var(--ion-color-medium);">
          <ion-label style="width: 100%; text-align: left;">Захиалгын код</ion-label><br>
          <ion-label style="color: var(--ion-color-danger); width: 100%; text-align: left; font-size: 16px; font-weight: bold;">
            {{order.orderNumber ? order.orderNumber : ''}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin: 0px 15px; width: 100%; border-bottom:1px solid var(--ion-color-medium);">
          <ion-label style="width: 100%; text-align: left;">Захиалгын нийт мөнгөн дүн</ion-label><br>
          <ion-label style="color: var(--ion-color-danger); width: 100%; text-align: left; font-size: 16px; font-weight: bold;">
            {{order.totalAmount ? (order.totalAmount ? order.totalAmount : '0') : '0'}}₮</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin: 0px 15px; width: 100%; border-bottom:1px solid var(--ion-color-medium);">
          <ion-label style="width: 100%; text-align: left;">Маршрут</ion-label><br>
          <ion-label style="width: 100%; text-align: left; font-size: 16px; font-weight: bold;">
            {{order.dispatcher ? (order.dispatcher.direction_name ? order.dispatcher.direction_name : '') : ''}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin: 0px 15px; width: 100%; border-bottom:1px solid var(--ion-color-medium);">
          <ion-row>
            <ion-col style="width: 50%; padding:0;">
              <ion-label style="width: 100%; text-align: left;">Суух</ion-label><br>
              <ion-label style="width: 98%; text-align: left; font-size: 14px; font-weight: bold;">
                {{order.dispatcher ? (order.dispatcher.direction_start_stop_name ? order.dispatcher.direction_start_stop_name : '') : ''}}</ion-label>
            </ion-col>
            <ion-col style="width: 50%; padding:0;">
              <ion-label style="width: 100%; text-align: left;">Буух</ion-label><br>
              <ion-label style="width: 98%; text-align: left; font-size: 14px; font-weight: bold;">
                {{order.dispatcher ? (order.dispatcher.direction_end_stop_name ? order.dispatcher.direction_end_stop_name : '') : ''}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin: 0px 15px; width: 100%; border-bottom:1px solid var(--ion-color-medium);">
          <ion-label style="width: 100%; text-align: left;">Хөдлөх огноо</ion-label><br>
          <ion-label style="width: 100%; text-align: left; font-size: 16px; font-weight: bold;">{{order.leaveDateText ? order.leaveDateText : ''}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin: 0px 15px; width: 100%;">
          <ion-label style="width: 100%; text-align: left;">Зорчигчдын тоо</ion-label>
          <ion-row>
            <ion-col style="padding: 0px; width: 50%;">
              <ion-label style="width: 98%; text-align: left; font-size: 16px; font-weight: bold;">
                  Том хүн: {{order.bigCount ? order.bigCount : '0'}}</ion-label>
            </ion-col>
            <ion-col style="padding: 0px; width: 50%;">
              <ion-label style="width: 98%; text-align: left; font-size: 16px; font-weight: bold;">
                  Хүүхэд: {{order.childCount ? order.childCount : '0'}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
      <div *ngIf="order ? (order.status == 'N' || order.status == 'W') : false">
        <ion-item-divider class="custom-divider">
          <ion-label>Төлбөрийн мэдээлэл</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col style="margin: 0px 15px; width: 100%; border-bottom:1px solid var(--ion-color-medium);">
            <ion-label style="width: 100%; text-align: left;">Банкны нэр</ion-label><br>
            <ion-label style="width: 100%; text-align: left; font-size: 16px; font-weight: bold;">Хаан банк</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="margin: 0px 15px; width: 100%; border-bottom:1px solid var(--ion-color-medium);">
            <ion-label style="width: 100%; text-align: left;">Дансны дугаар</ion-label><br>
            <ion-label style="width: 100%; text-align: left; font-size: 16px; font-weight: bold;">5057397049</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="margin: 0px 15px; width: 100%; border-bottom:1px solid var(--ion-color-medium);">
            <ion-label style="width: 100%; text-align: left;">Данс эзэмшигчийн нэр</ion-label><br>
            <ion-label style="width: 100%; text-align: left; font-size: 16px; font-weight: bold;">АВТО ТЭЭВРИЙН ҮНДЭСНИЙ ТӨВ</ion-label>
          </ion-col>
        </ion-row>
        <div style="height: 150px; margin: 10px; width: 100%; text-align: center" *ngIf="order">
          <img style="height: 150px; width:150px; margin:0 auto; box-shadow: 0 5px 5px var(--ion-color-medium);"
            [src]="order.qrCode">
        </div>
      </div>
      <div [ngStyle]="styleCircle" *ngIf="showAlert">
        <ion-label style="font-size: 20px !important;" [ngStyle]="styleMessage">{{(order.status == 'S') ? 'Амжилттай' : ((order.status == 'W') ? '' : 'Цуцлагдсан')}}</ion-label>
      </div>
      <div style="border-radius: 50px; border: 2px solid green; height: 50px; width: 200px; text-align: center; margin: 0 auto;" *ngIf="showTime">
        <ion-label style="font-size: 32px !important; font-weight: bold; margin: 0 auto; padding-top:3px;">{{((time.min < 10) ? ('0' + time.min) : time.min) + ':' + ((time.sec < 10) ? ('0' + time.sec) : time.sec)}}</ion-label>
      </div>
    </ion-list>
  </div>

</ion-content>